
.mission {
    background-color: #f9e0d9;
    padding: 40px;
    text-align: center;
    font-size: 20px;
  }
  
  .future {
    background-color: #f4c2c2;
    padding: 40px;
    text-align: center;
    font-size: 20px;
  }
  
  .future h1 {
    font-size: 30px;
    margin-bottom: 30px;
  }
  
  .team {
    background-color: #d7f3ef;
    padding: 40px;
    text-align: center;
    font-size: 20px;
  }
  
  .team h1 {
    font-size: 30px;
    margin-bottom: 30px;
  }
  
  .cards {
    margin-bottom: 30px;
  }
  
  .connect {
    background-color: #f9e0d9;
    padding: 40px;
    text-align: center;
    font-size: 20px;
  }
  
  .connect h2 {
    font-size: 30px;
    margin-bottom: 30px;
  }
  
  @media screen and (max-width: 767px) {
    .mission,
    .future,
    .team,
    .connect {
      padding: 20px;
      font-size: 16px;
    }
  
    .future h1,
    .team h1,
    .connect h2 {
      font-size: 24px;
      margin-bottom: 20px;
    }
  
    .cards {
      width: 100%;
    }
  }
  